.page_title {
  padding: 0px 5%;
}
.title_form {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.title {
  font-size: 30px;
}
.timeStamp {
  font-size: 15px;
  margin-bottom: 0px;
  margin-top:40px;
}
.divider {
  height: 1px;
  background-color: black;
  width: 100%;
  margin-bottom: var(--page_title_bottom_margin);
}
:root {
  --page_title_bottom_margin: 30px;
}