@media (max-width: 575px) {
  :root {
    --copyright_font_size: 13px;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  :root {
    --copyright_font_size: default;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  :root {
    --copyright_font_size: default;
  }
}
@media (min-width: 1024px) {
  :root {
    --copyright_font_size: default;
  }
}
.footer {
  background-color:dimgrey;
  height: var(--footer_height);
  padding: 10px 20px;
}
.copyright {
  padding: 0px;
  margin-top: 10px;
  margin-bottom: 10px;
  justify-content: center;
  align-items: center;
  font-size: var(--copyright_font_size);
}
:root{
  --footer_height : 44px;
}