@media (max-width: 575px) {
  .title {
    font-size: 16px;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .title {
    font-size: 20px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .title {
    font-size: 20px;
  }
}
@media (min-width: 1024px) {
  .title {
    font-size: 20px;
  }
}
body {
  padding-top: 58px;
  margin: 0;
}
a {
  text-decoration: none;
  color: black;
}
header {
  position: fixed;
  top: 0;
  width: 100%;
}
.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 10px 20px;
}
.menu_button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}
.navigation {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  color: white;
  background-color: rgba(255, 122, 89, .9);
  margin: 0;
  padding: 0;
}
.navigation li {
  font-size: 17px;
  padding: 10px 20px;
  margin-right: 15px;
}