.template {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0px;
  margin-bottom: 20px;
}
.ul {
  list-style: none;
  padding-left: 20px;
  padding-right: 20px;
}
.title {
  font-size: 20px;
}
.date {
  padding-top: 5px;
  font-size: 15px;
}

.paginate{
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0px;
  margin-bottom: 2rem;
}

.pages {
  margin: 0px 13px;
  cursor: pointer;
}

.active_page {
  text-decoration: underline;
}

.next,
.previous {
  cursor: pointer;
}