.template {
  color: black;
  list-style: none;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
}
.form {
  margin-bottom: var(--page_title_bottom_margin);
}
.date {
  font-size: 20px;
  padding-bottom: var(--page_title_bottom_margin);
}
