.board_red{
  height: 600px;
  background-color: rgba(255,0,0,.5);
}
.board_yellow{
  height: 600px;
  background-color:lightgoldenrodyellow;
}
.board_green {
  height: 600px;
  background-color: lightgreen;
}
.board_blue {
  height: 600px;
  background-color: dodgerblue;
}