.circle {
  position: fixed;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  border: 1px solid black;
  border-radius: 50%;
  background-color: lavender;
  display: flex;

  transform: rotate(0 deg);
  left: 0%;
  top: 50%;
}
.board_red{
  background-color: rgba(255,0,0,.5);
  padding-bottom: 100%;
}
.board_yellow{
  background-color:lightgoldenrodyellow;
  padding-bottom: 100%;
}
.board_green {
  background-color: lightgreen;
  padding-bottom: 100%;
}
.board_blue {
  background-color: cornflowerblue;
  padding-bottom: 100%;
}